.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.form-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-file-input {
  margin-bottom: 10px;
}

.form-submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit-button:hover {
  background-color: #45a049;
}
